<h1>検索一覧ページ：すべてのカテゴリから検索したい方向け</h1>

<div class="tomorecipes-search-items">
  <div class="tomorecipes-search-category">
    <h3>検索カテゴリ</h3>
    <ul>
      <%= link_to "検索一覧", tomorecipes_path %>
      <%= link_to "病気", tomorecipes_sick_path %>
      <%= link_to "アレルギー・不耐症", tomorecipes_allergy_path %>
      <%= link_to "苦手", tomorecipes_weak_path %>
      <%= link_to "その他", tomorecipes_others_path %>
    </ul>
  </div>

  <div class="tomorecipes-search">
    <div class="tomorecipes-search-img1">
        <img src="/assets/cute-tomorecipe.png" width="200" >
    </div>
    <h3>レシピを検索</h3>
    <%= form_tag({controller:"tomorecipes",action:"index"}, method: :get) do %>
      <div class="search-box">
        <%= text_field_tag :search, nil, placeholder: '料理名・食材名、症状・原因など' %>
        <button type="submit">
          <i class="fas fa-search"></i>
        </button>
      </div>
      <div class="tomorecipes-search-text">
        <ul>
          <a>キーワード例：</a>
          <a>麻婆豆腐</a>
          <a>お菓子</a>
          <a>簡単</a>
          <a>米粉</a>
          <a>低糖質</a>
        </ul>
      </div>
    <% end %>
    <div class="tomorecipes-search-img2">
      <img src="/assets/cute-tomorecipe.png" width="200" >
    </div>
  </div>

  <div class="tomorecipes-search-hashtag">
    <h3>ハッシュタグ検索（食べられない原因・症状）</h3>
    <ul>
      <% @tag_list.each do |list| %>
        <% if list.tag_name.present? %>
          <% if list.tomorecipes.count + list.external_sites.count > 0 %>
            <%= link_to "#" + list.tag_name, tag_tomorecipes_path(tag_id: list.id) %>
          <% end %>
        <% end %>
        <%= "(#{list.tomorecipes.count + list.external_sites.count})" %>
      <% end %>
    </ul>
  </div>
</div>

<div class="wave1">
    <img src="/assets/wave2.png" >
</div>

<div class="tomorecipes-body">
  <h3>美食ヘルスケア内でのレシピ投稿</h3>
  <div class="tomorecipes-container">
    <% @tomorecipes.each do |t| %>
      <div class="tomorecipe">

        <div class="tomorecipe-main-img">
          <% if t.image.present? %>
            <a href="/tomorecipes/<%= t.id %>"><%= image_tag t.image_url if t.image? %></a>
          <% else %>
            <a href="/tomorecipes/<%= t.id %>"><img src="/assets/none_img.jpg" width="200" ></a>
          <% end %>
        </div>

        <!-- <a href="/tomorecipes/<%= t.id %>"><%= video_tag t.video_url ,:controls => true if t.video?%></a> -->

        <% if t.user.image_url.present? %>
          <div class="tomorecipe-user">
            <%= link_to (image_tag t.user.image_url, class: "user-icon" if t.user.image?), user_path(t.user.id) %>
            <%= link_to t.user.name, user_path(t.user.id) %>
          </div>
        <% else %>
          <div class="tomorecipe-user-non-icon">
            <%= link_to t.user.name, user_path(t.user.id) %>
          </div>
        <% end %>

        <div class="tomorecipe-info">
          <div class="tomorecipe-title-save">
            <div class="tomorecipe-title">
              <%= t.title %>
            </div>
            <div class="tomorecipe-save">
              <% if user_signed_in? %>
                <% if current_user.already_liked?(t) %>
                  <%= link_to tomorecipe_like_path(id: t.id, tomorecipe_id: t.id), method: :delete do %>
                    <i class="fas fa-heart already-heart"></i><%= t.likes.count %>
                  <% end %>
                <% else %>
                  <%= link_to tomorecipe_likes_path(id: t.id, tomorecipe_id: t.id), method: :tomorecipe do %>
                    <i class="fa-regular fa-heart"></i><%= t.likes.count %>
                  <% end %>
                <% end %>
              <% else %>
                <i class="fa-regular fa-heart"></i><%= t.likes.count %>
              <% end %>
            </div>
          </div>

          <div class="tomorecipe-hashtag">
            <% t.tags.each do |tag| %>
              <%= link_to "#" + tag.tag_name, tag_tomorecipes_path(tag_id: tag.id) %>
            <% end %>
          </div>

          <div class="tomorecipe-edit">
            <% if user_signed_in? && current_user.id == t.user_id %>
              <%= link_to "編集", edit_tomorecipe_path(t.id) %>
              <%= link_to "削除", tomorecipe_path(t.id), method: :delete %>
            <% end %>
          </div>

        </div>
      </div>

    <% end %>
  </div>

  <div class="tomorecipes-paginate">
    <%= page_entries_info @tomorecipes %>
    <!-- <%= paginate @tomorecipes %> -->
  </div>

  <h3>外部サイトのレシピ情報</h3>
  <div class="tomorecipes-container">
    <% @externals.each do |e| %>
      <div class="tomorecipe">

        <div class="tomorecipe-main-img">
          <% if e.img_url ==  "https://assets.cpcdn.com/assets/blank_logo_recipe.png?ca0f825673a3906055fa88696811deee08ec55ec50b3e08161f4e35baeedf358" %>
            <a href="<%= e.recipe_url %>"><img src="/assets/none_img.jpg" width="200" ></a>
          <% elsif e.img_url == nil %>
            <a href="<%= e.recipe_url %>"><img src="/assets/none_img.jpg" width="200" ></a>
          <% else %>
            <a href="<%= e.recipe_url %>"><img src="<%= "#{e.img_url}" %>"></a>
          <% end %>
        </div>

        <div class="tomorecipe-info">
          <div class="external-url">
            <a href="<%= e.recipe_url %>"><%= e.recipe_url %></a>
          </div>
      
          <div class="tomorecipe-title-save">
            <div class="tomorecipe-title">
              <%= e.title %>
            </div>
            <div class="tomorecipe-save">
              <% if user_signed_in? %>
                <% if current_user.already_like2ed?(e) %>
                  <%= link_to external_site_like2_path(id: e.id, external_site_id: e.id), method: :delete do %>
                    <i class="fas fa-heart already-heart"></i><%= e.like2s.count %>
                  <% end %>
                <% else %>
                  <%= link_to external_site_like2s_path(id: e.id, external_site_id: e.id), method: :post do %>
                    <i class="fa-regular fa-heart"></i><%= e.like2s.count %>
                  <% end %>
                <% end %>
              <% else %>
                <i class="fa-regular fa-heart"></i><%= e.like2s.count %>
              <% end %>
            </div>
          </div>

          <div class="tomorecipe-hashtag">
            <% e.tags.each do |tag| %>
              <%= link_to "#" + tag.tag_name, tag_external_sites_path(tag_id: tag.id) %>
            <% end %>
          </div>
        
        </div>
      </div>
    <% end %>
  </div>

  <div class="externals-paginate">
    <%= page_entries_info @externals %>
    <% if @tomo_page > @ex_page %>
      <%= paginate @tomorecipes %>
    <% else %>
      <%= paginate @externals %>
    <% end %>
  </div>
</div>