<div class="login-wrapper">
  <div class="login-wrapper-container">
    <h1>パスワードを再設定してください</h1>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field">
        <%= f.label :password, "新規パスワード" %><br />
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "新規パスワード（確認用）" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions-edit-passwords">
        <%= f.submit "パスワードを更新する" %>
      </div>
    <% end %>

    <div class="user_link_to">
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>