<!DOCTYPE html>
<html>
  <head>
    <title>DeliHealth</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <script src="https://kit.fontawesome.com/99bc92365e.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class='<%= controller.controller_name %>'>
      <div class="header-left">
        <a href="/tops/index"><img src="/assets/header-title.png" width="360" ></a>
      </div>
      <div class="header-list">
        <ul>
          <li><%= link_to "トップ", tops_index_path %></li>
          <li><%= link_to "検索一覧", tomorecipes_path %></li>
          <li><%= link_to "新規投稿", new_tomorecipe_path %></li>
          <% if user_signed_in? %>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
            <li><%= link_to current_user.name + "のマイページ", user_path(current_user.id) %></li>
          <% else %>
            <li><%= link_to "新規会員登録", new_user_registration_path %></li>
            <li><%= link_to "ログイン", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
      <div class="hamburger-menu">
        <input type="checkbox" id="menu-btn-check">
        <label for="menu-btn-check" class="menu-btn"><span></span></label>
        <div class="menu-content">
          <ul>
            <li>
              <a href="/tops/index">トップ</a>
            </li>
            <li>
              <a href="/tomorecipes">検索一覧</a>
            </li>
            <li>
              <a href="/tomorecipes/sick">病気</a>
            </li>
            <li>
              <a href="/tomorecipes/allergy">アレルギー・不耐症</a>
            </li>
            <li>
              <a href="/tomorecipes/weak">苦手</a>
            </li>
            <li>
              <a href="/tomorecipes/others">その他</a>
            </li>
            <li>
              <a href="/tomorecipes/new">新規投稿</a>
            </li>
            <% if user_signed_in? %>
              <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
              <li><%= link_to current_user.name + "のマイページ", user_path(current_user.id) %></li>
            <% else %>
              <li><%= link_to "新規会員登録", new_user_registration_path %></li>
              <li><%= link_to "ログイン", new_user_session_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <p>Copyright © delicious-health All Rights Reserved.</p>
    </footer>
  </body>

</html>
